
*{
    font-family: 'Courier New', Courier, monospace;
}

.form{border: 1px;}
html,body{
    height: 100%;
    padding: 0%;
    margin: 0%;
}
.title{
    max-width: fit-content;
    
    padding: 0%;
    margin: 0%;
}
.noBorder{
    padding: 0%;
    margin: 0%;
}
.commonBorder{
    border: 1px solid black;
    padding: 1px;
    margin: 1px;
    border-style: double;

}
.commonTable{
    border-collapse: collapse;
}
.A5Table{
    width: 144mm;
    max-height: 210mm;

}
.A5Content{
    width: 54ch;
    overflow-wrap: break-word;
}
.A5ContentCN{
    width: 54ch;
    word-break:break-all;
    white-space:pre-wrap;
}
.pageWidth{
    width: 76ch;
}
.preBreak{
    word-break:normal;
    white-space:pre-wrap;
}
.gnu{
    width: 72ch;
}
.header1{
    background: linear-gradient(black,white);
    margin: 0%;
    padding: 0%;
    width: 40ch;
}
.header2{
    background-color: white;
    margin:0%;
    padding: 0%;
}
fieldset{
    max-width:100%
}
.page{
    max-width: fit-content;
}
.right{
    text-align: right;
    align-items: end;
    align-content: end;
    ruby-align: right;
}
.left{
    text-align: left;
    align-items: start;
    align-content: start;
    ruby-align: left;
}
.middle{
    text-align:center;
    align-items: center;
    align-content: center;
    ruby-align: center;
}
.bottom{
    vertical-align: bottom;
    align-items: baseline;
    align-content: baseline;
}
.fieldset{
    min-height: 60ch;
}
.code128{
    width: 55%;
}
.dataMatrix{
    width: 22%;
}
.printInf{
    min-width: 33ch;
}
.pageBorder{
    height: 3ch;
}
.small{
    font-size: small;
    vertical-align:sub;
}





.div{
    position:relative;
    margin:50px auto;
    width:100px;
    height:50px;
    box-sizing:border-box;
    border:0px;
    line-height:10px;
    text-indent:5px;
  }
  
  .div::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:15px;
    box-sizing:border-box;
    border-bottom:1px solid black;
    transform-origin:bottom center;
    transform:rotateZ(20deg) scale(2);
    
  }
