<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link th:href="@{/asserts/commonPage.css}" rel="stylesheet" type="text/css">

	</head>
	<body>
		<div class="A5Table barcodePage">
			<br/>
			<table class="A5Table noBorder">
				<tr>
					<td class="middle">
						<img class="dataMatrix" th:src="${src}"
						src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQAQAAAACmas8AAAAAoklEQVR4Xt3PsQ3DIBAF0KtghVTn1UwDK5AGlMYz2A1ZjTSwgmkgkTAnBJnAVz2k078PFBq4Cz2oDfjImJWzcWRgK65qpg3/qNnMmKWhXKIHKakD8ffg1JeYmXxgXeiYjrfX9UTPHRlOPMURUw3rGAw+XQ3rWMrnXFoHogezytaXGLPhr/Y3YmASxXWip3BoZ6rkJsas+baM9GDLtdCxzT34Bf+npbNCt0yoAAAAAElFTkSuQmCC">
						<img class="code128" th:src="${src2}">
						<br/>
						
						<span class="text">XA</span><span class="text small">+8</span>

						<span class="text" th:text="${content}">20230624001</span>
					</td>
					<td class="bottom printInf">
						<h3 class="noBorder">Xantippe Alpha - Print Page</h3>
						<br/>
						<span>2023-06-29 01:58:17.325</span>
						<span>match123</span>
						<hr/> 
					</td>
				</tr>
				<tr>

				</tr>
			</table>
			<div style="padding-left: 2.5ch;" class="A5Content">
				<!--eng 36ch*54ch ch 32ch*28ch-->
				<pre style="margin: 0%;" class="A5ContentCN">
		海燕    高尔基
　　在苍茫的大海上，狂风卷集着乌云。在乌云和大海之间，海燕像黑色的闪电，在高傲地飞翔。
　　一会儿翅膀碰着波浪，一会儿箭一般地直冲向乌云，它叫喊着，⸺就在这鸟儿勇敢的叫喊声里，乌云听出了欢乐。
　　在这叫喊声里⸺充满着对暴风雨的渴望！在这叫喊声里，乌云听出了愤怒的力量、热情的火焰和胜利的信心。
　　海鸥在暴风雨来临之前呻吟着，⸺呻吟着，它们在大海上飞窜，想把自己对暴风雨的恐惧，掩藏到大海深处。
　　海鸭也在呻吟着，⸺它们这些海鸭啊，享受不了生活的战斗的欢乐：轰隆隆的雷声就把它们吓坏了。
　　蠢笨的企鹅，胆怯地把肥胖的身体躲藏在悬崖底下……只有那高傲的海燕，勇敢地，自由自在地，在泛起白沫的大海上飞翔！
　　乌云越来越暗，越来越低，向海面直压下来，而波浪一边歌唱，一边冲向高空，去迎接那雷声。
　　雷声轰响。波浪在愤怒的飞沫中呼叫，跟狂风争鸣。看吧，狂风紧紧抱起一层层巨浪，恶狠狠地把它们甩到悬崖上，把这些大块的翡翠摔成尘雾和碎末。
　　海燕叫喊着，飞翔着，像黑色的闪电，箭一般地穿过乌云，翅膀掠起波浪的飞沫。
　　看吧，它飞舞着，像个精灵，⸺高傲的、黑色的暴风雨的精灵，⸺它在大笑，它又在号叫……它笑那些乌云，它因为欢乐而号叫！
　　这个敏感的精灵，⸺它从雷声的震怒里，早就听出了困乏，它深信，乌云遮不住太阳，⸺是的，遮不住的！
　　狂风吼叫……雷声轰响……
　　一堆堆乌云，像青色的火焰，在无底的大海上燃烧。大海抓住闪电的箭光，把它们熄灭在自己的深渊里。这些闪电的影子，活像一条条火蛇，在大海里蜿蜒游动，一晃就消失了。
</pre>
<div style="height: 3ch;"></div>
<pre style="margin: 0%;" class="A5ContentCN">
　　⸺暴风雨！暴风雨就要来啦！
　　这是勇敢的海燕，在怒吼的大海上，在闪电中间，高傲地飞翔；这是胜利的预言家在叫喊：
　　⸺让暴风雨来得更猛烈些吧！
				1901 年 3 月

		日    巴金
　　为着追求光和热，将身子扑向灯火，终于死在灯下，或者浸在油中，飞蛾是值得赞美的。在最后的一瞬间它得到光，也得到热了。
　　我怀念上古的夸父，他追赶日影，渴死在旸谷。
　　为着追求光和热，人宁愿舍弃自己的生命。生命是可爱的。但寒冷的、寂寞的生，却不如轰轰烈烈的死。
　　没有了光和热，这人间不是会成为黑暗的寒冷世界吗？
　　倘使有一双翅膀，我甘愿做人间的飞蛾。我要飞向火热的日球，让我在眼前一阵光、身内一阵热的当儿，失去知觉，而化作一阵烟，一撮灰。
				1941 年 7 月 21 日
		月    巴金
　　每次对着长空的一轮皓月，我会想：在这时候某某人也在凭栏望月吗？
　　圆月有如一面明镜，高悬在蓝空。我们的面影都该留在镜里吧，这镜里一定有某某人的影子。
　　寒夜对镜，只觉冷光扑面。面对凉月，我也有这感觉。
　　在海上，山间，园内，街中，有时在静夜里一个人立在都市的高高露台上，我望着明月，总感到寒光冷气侵入我的身子。冬季的深夜，立在小小庭院中望见落了霜的地上的月色，觉得自己衣服上也积了很厚的霜似的。
　　的确，月光冷得很。我知道死了的星球是不会发出热力的。月的光是死的光。
　　但是为什么还有姮娥奔月的传说呢？难道那个服了不死之药的美女便可以使这已死的星球再生吗？或者她在那一面明镜中看见了什么人的面影吧。
				1941 年 7 月 22 日
</pre>

<pre style="margin: 0%;">
</pre>
<!--2 pages ch 36ch firefox 1.42x pageBorder 3ch -->
<!--2 pages eng 59ch firefox 1.42x pageBorder 3ch-->
			</div>
			<div ></div>
		</div>
	</body>
</html>