<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
    <head>
		<title>Xantippe Alpha - Folder View</title>
		<meta charset="utf-8">
		<link th:href="@{/asserts/commonPage.css}" type="text/css" rel="stylesheet">
	</head>
    <body>
        <div class="page">
			<div class="title" th:if="${isBrowser} == 'true'">
				<table class="noBorder">
					<tr><td colspan="2">
						<h1 class="header1">Xantippe Alpha - Folder View</h1>
					</td></tr>
					<tr>
						<td>current user:<span class="user" th:text="${user}">Guest</span></td>
						<td class="right"><button>Logout</button></td>
					</tr>
				</table>
			</div>
	
			<fieldset class="fieldset">
				<legend>Folder View</legend>
                    <form method="POST" th:action = "@{/folder}" th:object="${folder}">
                        <div class="middle">
                            <a th:href="@{/file/upload(isBrowser=${isBrowser})}">Update another file... </a>
                            <input type="hidden" value="XFolder" th:field="*{properties.eTypeName}">
                        </div>
                        <table>
                            <tr>
                                <td>Folder Name:</td>
                                <td><input type="text" th:field="*{properties.eName}"/></td>
                                <td>
                                    <div th:if="${errors != null}">
                                        <span th:each="err : ${errors.getFieldErrors('properties.eName')}"
                                            th:text="${err.getDefaultMessage}"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Folder Description:</td>
                                <td><input type="text" th:field="*{properties.eDescription}"/></td>
                                <td>
                                    <div th:if="${errors != null}">
                                        <span th:each="err : ${errors.getFieldErrors('properties.eDescription')}"
                                            th:text="${err.getDefaultMessage}"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" value="Archive Folder"></td>
                                <td></td>
                            </tr>
                        </table>
                        <table class="commonBorder commonTable" th:object="${folder}">
                            <tr>
                                <th class="commonBorder">eUID</th>
                                <th class="commonBorder">eName</th>
                                <th class="commonBorder">eType</th>
                                <th class="commonBorder">eTimestamp</th>
                                <th class="commonBorder">Download</th>
                            </tr>
                            <tr th:each="nfile : ${folder.files}">
                                <td class="commonBorder" th:text="${nfile.searchCode}"></td>
                                <td class="commonBorder" th:text="${nfile.properties.eName}"></td>
                                <td class="commonBorder" th:text="${nfile.properties.eType}"></td>
                                <td class="commonBorder" th:text="${nfile.properties.eTimestamp}"></td>
                                <td class="commonBorder">
                                    <a th:href="@{/file/download(euid=${nfile.properties.eUID})}" target="_blank">
                                        Download
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </form>
			</fieldset>
		</div>
    </body>
</html>