<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
	<head>
		<title>Xantippe Alpha - Welcome Page</title>
		<meta charset="utf-8">
		<link th:href="@{/asserts/commonPage.css}" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="page">
			<div class="title" th:if="${isBrowser} == 'true'">
				<table class="noBorder">
					<tr><td colspan="2">
						<h1 class="header1">Xantippe Alpha - Homepage</h1>
					</td></tr>
					<tr>
						<td>current user:<span class="user" th:text="${user}">Guest</span></td>
						<td class="right"><button>Logout</button></td>
					</tr>
				</table>
			</div>
	
	
			<fieldset class="fieldset">
				<legend>Homepage</legend>
				<div>

					<table>
						<tr>
							<td>
								<h1>Welcome to <br /> Xantippe <br /> Alpha!</h1>
							</td>
							<td>sites:<br/>
								<a th:href="@{file/upload(isBrowser=${isBrowser})}">File Uploader</a><br/>
								<a th:href="@{barcode(isBrowser=${isBrowser})}">Barcode in base64</a><br/>
								<a th:href="@{barcodePrint(isBrowser=${isBrowser})}">Barcode in browser</a><br/>
								<a th:href="@{folder(isBrowser=${isBrowser})}">Folder View</a><br/>
								<a th:href="@{info}">Site Information</a><br/>
								<span>File Download(avaliable<br/> in folder view)</span>
							</td>
							<td>
								<img th:src = "@{/asserts/server-icon.png}"> 
								<!--The Akarin icon(MIT License) (WILL BE CHANGED) comes from https://github.com/Akarin-project/Akarin -->
							</td>
						</tr>
					</table>
					<table class="commonBorder middle">
						<tr>
							<th>variable</th>
							<th>value</th>
						</tr>
						<tr>
							<td>time</td>
							<td th:text="${time}"></td>
						</tr>
						<tr>
							<td>stamp</td>
							<td th:text="${stamp}"></td>
						</tr>
						<tr>
							<td>uuid</td>
							<td th:text="${uuid}"></td>
						</tr>
					</table>
					<p>THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG.</p>
					<p>the quick brown fox jumps over the lazy dog.</p>	
				</div>
			</fieldset>
		</div>
	</body>
</html>