<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Xantippe Alpha - File Uploader</title>
    <link th:href="@{/asserts/commonPage.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="page">
        <div class="title" th:if="${isBrowser} == 'true'">
            <table class="titleTable">
                <tr><td colspan="2">
                    <h1 class="header1">Xantippe Alpha - File Uploader</h1>
                </td></tr>
                <tr>
                    <td>current user:<span class="user" th:text="${user}">Guest</span></td>
                    <td class="right"><button>Logout</button></td>
                </tr>
            </table>
        </div>


        <fieldset class="fieldset">
            <legend>Upload</legend>
            <form method="POST" th:object="${file}" enctype="multipart/form-data">
                <table>
                    <tr id="name">
                        <td class="right">File name:</td>
                        <td>
                            <input th:field = "*{properties.eName}" type="text" />
                        </td>
                        <td>
                            <div th:if="${errors != null}">
                                <span
                                th:each="err : ${errors.getFieldErrors('properties.eName')}"
                                th:text="${err.getDefaultMessage}+' '"></span>
                            </div>
                        </td>
                    </tr>
                    <tr id="alisa">
                        <td class="right">File alisa:</td>
                        <td>
                            <input th:field = "*{properties.eAlisa}" type="text" />
                        </td>
                        <td>
                            <div th:if="${errors != null}">
                                <span 
                                    th:each="err : ${errors.getFieldErrors('properties.eAlisa')}"
                                    th:text="${err.getDefaultMessage}+' '"></span>
                            </div>
                        </td>
                    </tr>
                    <tr id="type">
                        <td class="right">File type:</td>
                        <td>
                            <div th:each="Nfile : ${files}">
                                <input th:field = "*{properties.eTypeName}" type="radio" th:value="${Nfile.codeC}" />
                                <span th:text="${Nfile.typeName}">XFileType</span>
                            </div>
                        </td>
                        <td>
                            <div th:if="${errors != null}">
                                <span 
                                    th:each="err : ${errors.getFieldErrors('properties.eTypeName')}"
                                    th:text="${err.getDefaultMessage}+' '"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">File data:</td>
                        <td>
                            <input type="file" th:field = "*{data}"/>
                        </td>
                        <td>
                            <div th:if="${errors != null}">
                                <span 
                                    th:each="err : ${errors.getFieldErrors('data')}"
                                    th:text="${err.getDefaultMessage}+' '"></span>
                            </div>
                        </td>
                    </tr>
                    <tr id="button">
                        <td class="right">
                            <button type="reset">Reset</button>
                        </td>
                        <td class="left">
                            <button type="submit">Upload</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </fieldset>
    </div>
</body>
</html>